body {
    width: 100%;
    height: 100%;
}

.fundoindex {
    background-image: url(fundo1.jpg);
    background-size:cover    
}

.titulo {
    display: flex;
    justify-content: center;
    color: #212529;
    font-size: 40px;
}

.personagens {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    margin-top: 15%;
    margin-left: 25%;
    border: solid 5px #00000070;
    background-color: #00000070;
    border-radius: 5px;
    padding: 5px;
    
}

.opcoes {
    list-style: none;
    text-decoration: none;  
    color: white;
    font-size: 20px;    
}

/*gamer over stile abaixo */
.fundogameover {
    background-color: black;
}
.texto {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: red;
}

.buttomover {
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 28px;
    background-color: red;
    border: solid red 5px;
    border-radius: 50px;
    text-decoration: none;  

}

/* Capitão abaixo*/
.fundocap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(fundocap.jpg);
    background-size:cover;  
}

.question {
    font-size: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.486);
    margin-top: 10%;
}

.opcoescap {
    font-size: 18px;
    color: rgb(255, 0, 0);
    font-weight: bolder;
}

.buttomcap {
    color: #000cb8;
    height: 60px;
    width: 150px;
    font-size: 25px;
    background-color: rgba(255, 255, 255, 0.781);
    border: solid rgba(255, 0, 0, 0.589) 5px;
    border-radius: 5px;
    text-decoration: none;    
    text-align: center;   
}

/* Homem de ferro abaixo*/

.fundoiron {
    background-image: url(fundoiron.png);
    background-size: cover;
}

.ironhistory {
    color: rgb(255, 238, 2);
    font-size: 32px;
}

.opcoesiron {
    font-size: 28px;
    color: rgb(255, 238, 2);
}

.ironbuttom {
    color: #e01e37;
    font-size: 28px;
    border: solid rgb(255, 238, 2) 5px ;
    border-radius: 5px;
    background-color: rgb(255, 238, 2) ;
    text-decoration: none; 
}

/*Versão   Mobile*/

@media (max-width:700px)  {
.fundoindex {
        background-image: url(fundo1mobile.jpg);
        background-size:cover;
    }

.titulo {
    color: #ffffff;
        }

.personagens {
    display: flex;
    justify-content: space-between;
    margin-top: 50%;
    border: solid 5px #00000070;
    background-color: #00000070;
    border-radius: 5px;
    padding: 2px;    
}
                
.opcoes {text-decoration: none;
    color: white;
    }
    }
